*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#flower{
    height: 100vh;
    background: url("flower.jpg") no-repeat center center/cover;
    background-attachment: fixed;
    position: relative;
}
#container{

    position: absolute;
    background: url("flower.jpg") no-repeat center center/cover;
    opacity: 0.9;
    box-shadow:10px 10px 5px rgba(209, 209, 209, 0.3);
    height:60vh;
    width: 90vh;
    top: 15rem;
    left: 10rem;
    animation: start 2s ease-in-out;
}
@keyframes start{
    from{
        width: 700px;
    }
    to{
        width: 600px;
        

        }
    }

.navbar{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: 3rem;

}
.bxs-sun{
    font-size:2rem;
    color:orange;
    margin:5px;
    padding: 1px;
}
.lilly{
    text-align: center;
    margin:10px 5px;
    font-size: 25px;
    color: white;

}
.navbar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    text-decoration: none;
    flex-wrap: wrap;
    margin: 10px;
}
.navbar a{
    text-decoration: none;
    font-size: 25px;
    margin: 10px 10px;
    color: white;
    
}
.navbar a:hover{
    color: rgb(204, 80, 42);
}
.box-1{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    text-align:center;
}
.box-1 i{
    font-size:20px;
    color:rgb(11, 123, 138);
    margin:5px ;
}
.section-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    height:15rem;
    margin: 20px 10px;
    flex-wrap: wrap;
}
.section-1 h1{
    max-width: 300px;
    font-size: 35px;
    color: white;
    padding: 10px;
}
.span{
    color: orange;
}
.section-1 p{
    font-size: 15px;
    max-width: 500px;
    color: white;
    padding: 10px;
    margin: 2px;
}
.box-2{
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    margin: 0 10px;

}
.box-2 i{
    font-size:1rem;
    color: yellow;
    
}
.dot{
font-size: 15px;
margin: 0 10px;
}
#foot{
    height: 5rem;
    width: 30rem;
    margin: 10px;
    background-color: rgb(11, 123, 138,0.2);
    box-shadow: 10px 10px 5px rgb(11, 123, 138,0.5);

}
.footer{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
    position: relative;
}
.dolar{
    position: absolute;
    font-size:10px;
    color:white;
    
}
.footer h3{
    font-size: 30px;
    margin: 0 10px ;
    color: white;
}
.number{
    font-size: 20px;
    position: absolute;
    color: white;
}
.footer p{
    font-size: 20px;
    color:white;
}
.footer a{
    font-size: 25px;
    margin: 10px 20px;
    padding: 0 20px;
    color: white;
    background-color: rgb(197, 20, 20,0.9);
    border-radius: 25px;
    text-decoration: none
    
}
.footer a > i{
    font-size: 1.2rem;
    color: white;
}
.footer a:hover{
    color:rgb(21, 219, 143);

}
